html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container { /* Wraps navbar & main content */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content { /* Main content */
  flex: 1;
  background-color: #f5f8fb;
}

.collapsible-section {
  background-color: #f5f8fb !important;
}